name: Publish

on:
  push:
    branches:
      - 'master'
    paths-ignore:
      - '*.md'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - run: echo //registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN} > .npmrc
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

      - run: npm ci
      - run: npx lerna publish --canary --dist-tag canary --preid canary-$(git rev-parse HEAD)+$(date +"%s") --yes
