name: Build and Test

on:
  pull_request:
    branches: [main, 4.0]
  push:
    branches: [main, 4.0]
    paths-ignore:
      - 'README.md'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Bootstrap
        run: npm ci

      # - name: Install Playwright Browsers
      # run: npx playwright install --with-deps

      - name: Build and Test Packages
        run: npm test
