name: Build and Test

on:
  pull_request:
    branches: [main, 4.0]
  push:
    branches: [main, 4.0]
    paths-ignore:
      - 'README.md'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Bootstrap
        run: npm ci

      # - name: Install Playwright Browsers
      # run: npx playwright install --with-deps

      - name: Build and Test Packages
        run: npm test
