name: Test and Publish

on:
  pull_request:
  push:
    branches: [main]
    paths-ignore:
      - 'README.md'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Bootstrap
        run: npm

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Lib Tests
        run: npm test --workspaces
